*{
    box-sizing: border-box;
}
.navbar-brand{
    font-weight:bolder;
    font-size: x-large;
}
.navbar-nav{
    font-size: large;
}
.navbar-toggler{
    color: white !important;
}
.lead{
    color: rgba(0, 0, 0, 0.45);
}
.feature{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    width:3rem;
    height: 3rem;
}
.card{
    width: 18rem;
}
.input-group >.form-control{
    position: relative;
    flex:1 1 auto;
    width: 1%;
    min-width: 0;
}
.col-auto{
    width: auto;
}
.link-light{
    text-decoration: none;
}